.container-questions {
    background: rgb(240, 239, 234);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 600px;
    margin: 50px auto;
    border-radius: 5px;
}

.container-questions h1 {
    margin-bottom: 25px;
}

.response {
    color: rgb(36, 36, 36);
    border: 1px solid rgb(226, 226, 226);
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.response:hover {
    background-color: rgb(15, 125, 190);
    color: rgb(255, 255, 255);
    box-shadow: rgb(136 136 136) 2px 2px 8px;
    border: 1px solid rgb(15, 125, 190);
    transition: all 0.5s;
}

.response label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.response label input {
    display: none;
}

label {
    position: relative;
}

.response span::before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgb(36, 36, 36);
}

.response:hover span::before,
.response:hover span::after {
    border-color: #fff;
}

input:checked + span::after {
    position: absolute;
    content: '';
    display: inline-block;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid blue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.response label span {
    display: flex;
    gap: 12px;
    position: relative;
}
